<h2>Posts List</h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">New Post</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Description:{{descricao}}</p>
            <small>Date:{{data}}</small>
            <br>
            <small>Category:{{categoria}}</small>
            <br>
            <a href="//localhost:8081/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-2">Edit Post</button></a>
            <a href="//localhost:8081/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-2">Delete Post</button></a>
        </div>
    </div>
{{else}}
    <p>There is no Post</p>
{{/each}}